<h1>About US</h1>
<p>Find me in app/views/about/index.html.erb</p>
<p>Welcome to PG Booking System.....Here you can search and book the mention PG's nearby to The North Cap University. This site is official.</p>
		